/* :root {
  --blue: #0038a8;
  --black: #454646;
  --white: #e8eaeb;
  --red: #dc2649;
  --indigo: #4b0082;
  --violet: #32174d;
} */

.head1Div1 {
  background-color: var(--violet);
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  padding: 10px;
  padding-left: 150px;
  justify-content: space-between;
}

.logoDiv {
  align-self: center;
  display: flex;
  height: 50px;
}

.logoImage {
  width: 130px;
  height: 50px;
}

.navList {
  align-self: center;
  display: flex;
}

.navItems {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
}

.authLinks {
  padding-right: 500px;
  align-self: center;
}

.signBtn {
  background-color: var(--white);
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--black);
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@media screen and (max-width: 925px) {
  .Icon {
    display: inline;
    position: relative;
    padding-right: 70px;
  }

  .head1Div1 {
    width: 100%;
    height: 32px;
    position: fixed;
    z-index: 99;
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }

  .logoDiv {
    margin-top: 7px;
    width: 25%;
  }

  .logoImage {
    width: 80px;
    height: 30px;
    margin-top: 10px;
  }

  .navList {
    display: flex;
    margin-right: 20px;
  }

  .navItems {
    font-size: 10px;
    width: 25%;
  }

  .authLinks {
    padding-right: 40px;
    align-self: center;
    width: 25%;
  }

  .signBtn {
    padding: 8px;
    font-size: 10px;
  }
}
