.loginDiv1 {
  display: flex;
  background-image: url(../images/pics.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 30px;
  justify-content: center;
}

.loginDiv2 {
  padding: 60px;
  padding-bottom: 30px;
  width: 50%;
  background-color: #8080809d;
  border-radius: 20px;
}

.loginDiv21 {
  margin-left: 60px;
}

.loginDiv21 h1 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-top: -5px;
}

.loginDiv21 h3 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  margin-top: -15px;
  font-size: 12px;
}

.loginDiv22 {
  margin-top: 50px;
  width: 70%;
  display: block;
  margin-left: 60px;
}

.loginDiv22 h3 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}

.loginDiv22 input {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--white);
}

.loginDiv22 h4 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  text-align: right;
}

.loginBtn {
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 40px;
}

.loginBtn h3 {
  color: var(--black);
  margin-top: 0px;
  font-size: 16px;
}

.loginDiv23 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 90%;
}

.loginDiv23 hr {
  width: 25%;
  background-color: gray;
  border: none;
  height: 2px;
}

.loginDiv23 h4 {
  margin-top: -5px;
  color: gray;
}

.loginDiv24 {
  display: flex;
  justify-content: center;
  width: 90%;
}

.loginDiv24 h3 {
  color: var(--white);
}

@media screen and (max-width: 925px) {
  .loginDiv1 {
    display: flex;
    padding-top: 90px;
  }

  .loginDiv2 {
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 70%;
  }

  .loginDiv21 {
    margin-left: 0px;
    padding: 5px;
  }

  .loginDiv21 h1 {
    font-size: 20px;
    margin-top: 0px;
  }

  .loginDiv21 h3 {
    margin-top: -5px;
    font-size: 13px;
  }

  .loginDiv22 {
    margin-top: 20px;
    width: 90%;
    margin-left: 0px;
  }

  .loginDiv22 h3 {
    margin-top: 14px;
  }

  .loginDiv22 input {
    padding: 8px;
  }

  .loginDiv22 h4 {
    font-size: 10px;
  }

  .loginBtn {
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 0px;
    margin-top: 20px;
  }

  .loginBtn h3 {
    margin-top: 0px;
    font-size: 13px;
  }

  .loginDiv23 {
    margin-top: 20px;
  }

  .loginDiv24 h3 {
    font-size: 13px;
  }
}
