.mainDiv1 {
  padding: 40px;
  background-color: var(--white);
  display: block;
  /* height: 100vh; */
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainDiv2 {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  /* height: 300px; */
  padding: 20px;
}

.balance-section {
  width: 45%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--indigo);
}

.mainDiv3 {
  width: 30%;
}

.balance-section img {
  width: 100px;
}

.balance-section h3 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.balance-section h1 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.profit-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008000;
}

.profit-amount {
  font-family: "Poppins", sans-serif;
}

.profit-icon {
  margin-right: 5px;
}

.chart-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 45%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: var(--indigo);
  border-radius: 20px;
}

.chart-section h1 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

.doughnut-chart {
  padding-left: 15%;
  display: flex;
  width: 100%;
}

.asset-selection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--indigo);
  border-radius: 20px;
}

.asset-button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: rgb(147, 136, 136);
  font-family: "Poppins", sans-serif;
}

.asset-button.active {
  color: var(--blue);
}

.candlestick-chart {
  height: 200px;
  margin-top: 20px;
  background-color: var(--indigo);
  border-radius: 20px;
}

@media screen and (max-width: 925px) {
  .mainDiv1 {
    padding: 30px;
    padding-bottom: 100px;
  }

  .mainDiv2 {
    display: flex;
    padding: 0px;
  }

  .mainDiv2 .icon {
    color: var(--white);
    font-size: 30px;
    align-self: center;
  }

  .mainDiv2 h2 {
    color: var(--white);
  }

  .mainDiv3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .mainDiv3 h3 {
    color: #008000;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  .mainDiv31 h3 {
    color: gray;
    font-family: "Poppins", sans-serif;
  }

  .mainDiv31 h1 {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-size: 30px;
  }

  .mainDiv4 {
    margin-top: 20px;
  }

  .mainDiv5 h2 {
    color: var(--white);
    font-family: "Poppins", sans-serif;
  }

  .mainDiv6 {
    margin-top: 20px;
  }

  .mainDiv6 h2 {
    color: var(--white);
    font-family: "Poppins", sans-serif;
  }

  .mainDiv61 {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-family: "Poppins", sans-serif;
  }
  .mainDiv62 {
    display: flex;
    width: 30%;
    justify-content: space-between;
  }
  .mainDiv62 .icon {
    font-size: 30px;
    align-self: center;
  }
}
