.marketDiv1 {
  padding: 30px;
  padding-bottom: 50px;
  display: block;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.marketDiv2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.s {
  font-size: 25px;
  color: var(--white);
  margin-top: 12px;
}

.marketDiv2 h2 {
  color: var(--white);
  margin-left: 10px;
}

.marketDiv3 h1 {
  color: goldenrod;
}

.marketDiv4 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.385);
  padding: 10px;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 50px;
}

@media screen and (max-width: 925px) {
  .marketDiv2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .s {
    font-size: 25px;
    color: var(--white);
    margin-top: 12px;
  }

  .marketDiv2 h2 {
    color: var(--white);
    margin-left: 10px;
  }

  .marketDiv3 h1 {
    color: goldenrod;
  }

  .marketDiv4 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.385);
    padding: 10px;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 50px;
  }
}
