.transaction-container {
  height: 100vh;
  background-image: url(../images/simpleTech.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  box-sizing: border-box;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.inputT {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.btn1 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.pendingDiv1,
.pendingDiv2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.pendingDiv1 {
  font-weight: bold;
}

.pendingDiv2 {
  align-items: center;
}

@media (max-width: 768px) {
  .pendingDiv1 {
    display: none;
  }
  .pendingDiv2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .pendingDiv1 h3,
  .pendingDiv2 h3 {
    margin: 5px 0;
  }
}
