.registerDiv1 {
  display: flex;
  background-image: url(../images/pics.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  justify-content: center;
}

.registerDiv2 {
  padding: 60px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #253745bc;
}

.registerDiv21 {
  margin-left: 25%;
}

.registerDiv21 h1 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-top: -5px;
}

.registerDiv21 h3 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  margin-top: -15px;
  font-size: 12px;
}

.registerDiv22 {
  margin-top: 30px;
  width: 70%;
  display: block;
  margin-left: 25%;
}

.registerDiv22 h3 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

.password-input-container {
  background-color: var(--white);
  width: 60%;
  border-radius: 10px;
  display: flex;
}

.password-toggle-icon {
  align-self: center;
  font-size: 15px;
  margin-right: 5px;
}

.registerDiv22 input {
  padding: 12px;
  width: 88%;
  border-radius: 5px;
  color: var(--indigo);
  background-color: var(--white);
}

.registerDiv22 h4 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  text-align: right;
}

.registerBtn {
  background-color: var(--white);
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  width: 60%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 40px;
}

.registerBtn h3 {
  color: var(--black);
  margin-top: 0px;
  font-size: 14px;
}

.registerDiv23 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 60%;
  margin-left: 17%;
}

.registerDiv23 hr {
  width: 25%;
  background-color: gray;
  border: none;
  height: 2px;
}

.registerDiv23 h4 {
  margin-top: -5px;
  color: gray;
}

.registerDiv24 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.registerDiv24 h3 {
  color: var(--white);
}

.registerDiv3 {
  background-image: url(../images/pics.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}

@media screen and (max-width: 925px) {
  .registerDiv1 {
    display: flex;
  }

  .registerDiv2 {
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .registerDiv21 {
    margin-left: 10%;
    padding: 5px;
  }

  .registerDiv21 h1 {
    font-size: 20px;
    margin-top: 0px;
  }

  .registerDiv21 h3 {
    margin-top: -5px;
    font-size: 13px;
  }

  .registerDiv22 {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
  }

  .registerDiv22 h3 {
    margin-top: 12px;
  }

  .registerDiv22 input {
    padding: 8px;
    color: var(--indigo);
  }

  .password-input-container {
    display: flex;
    width: 100%;
    border-radius: 10px;
  }

  .registerDiv22 h4 {
    font-size: 10px;
  }

  .registerBtn {
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 0px;
    margin-top: 20px;
    width: 100%;
  }

  .registerBtn h3 {
    margin-top: 0px;
    font-size: 13px;
  }

  .registerDiv23 {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
  }

  .registerDiv24 h3 {
    font-size: 13px;
  }
}
