.userDiv1 {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.userDiv2 {
  background-color: gray;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
