@media screen and (max-width: 925px) {
  h3 {
    color: var(--white);
    font-size: 13px;
    font-family: "Poppins", sans-serif;
  }
  .withdrawDiv2 {
    margin-top: 10px;
  }

  .withdrawDiv2 input {
    padding: 15px;
    width: 90%;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 10px;
    color: var(--white);
  }

  .withdrawDiv3 {
    margin-top: 50px;
    background-color: rgba(128, 128, 128, 0.376);
    padding: 10px;
    border-radius: 10px;
  }

  .withdrawDiv31 {
    display: flex;
    justify-content: space-between;
  }

  .withdrawDiv31 h3 {
    font-size: 12px;
  }
}
